@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@200&display=swaphttps://fonts.googleapis.com/css2? family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: black;
}

button {
  border-radius: 50px;
  background: linear-gradient(#FF79DA, #9356DC);
  font-weight: bold;
  margin-left: auto;
  margin-bottom: 60px;
  margin-top: 30px;
  padding-left: 6%;
  padding-right: 6%;
  display: block;
  color: white;
  font-size: 0.6em;
  height: 30px;
  border: none;
  box-shadow: 0px 3px 8px 3px gainsboro;
  margin-right: auto;
}

footer {
  position: relative;
  z-index: 2;
  background-color: black;
  color: white;
  padding-top: 10px;
  padding-bottom: 30px;
}
footer div {
  padding-left: 30px;
}
footer > p {
  font-family: "Shrikhand", cursive;
  padding-left: 30px;
}
footer i {
  padding-right: 15px;
}

a {
  text-decoration: none;
  color: white;
}

h1 {
  font-weight: bolder;
  font-size: medium;
  margin-left: 15px;
  margin-bottom: 12px;
}

.entete__image {
  height: auto;
  box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.5);
  margin-bottom: 5px;
}
.entete__image img {
  display: block;
  margin: auto;
  width: 40%;
  padding: 7px;
  height: 30px;
}
.entete__localisation {
  width: 100%;
  height: 35px;
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}
.entete__localisation i {
  padding-right: 7px;
}

#choix {
  padding-top: 20px;
  padding-bottom: 30px;
  background-color: rgba(255, 251, 251, 0.856);
  text-align: center;
}
#choix__button {
  color: white;
  font-size: 0.6em;
  padding: 0% 5%;
  height: 35px;
  border: none;
  box-shadow: 0px 3px 8px 3px gainsboro;
  margin: auto;
}
#choix__p {
  font-size: small;
  color: #4d4d4d;
}

#Fonctionnement ol {
  list-style: none;
  counter-reset: li;
  padding: 2% 7%;
}
#Fonctionnement li {
  display: flex;
  align-items: center;
  box-shadow: 0px 3px 8px 3px gainsboro;
  border-radius: 16px;
  margin-bottom: 15px;
  font-size: 0.7em;
  height: 45px;
  background-color: #eaeaea;
}
#Fonctionnement li i {
  margin-right: 15px;
}
#Fonctionnement li:hover {
  background-color: #f5edff;
}
#Fonctionnement li:hover i {
  color: #9356DC;
}
#Fonctionnement li::before {
  counter-increment: li;
  content: counter(li);
  background-color: #9356DC;
  color: white;
  text-align: center;
  border-radius: 50%;
  padding: 3px;
  margin-right: 20px;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

#restaurant {
  background-color: #eaeaea;
  padding-top: 30px;
  padding-bottom: 30px;
}

article {
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 15px;
  border: 1px solid rgba(255, 251, 251, 0.603);
  margin-bottom: 15px;
  background-color: white;
}
article a {
  text-decoration: none;
  border-radius: 15px;
}
article .imageRestaurant {
  position: relative;
}
article .imageRestaurant img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  height: 30vw;
}
article .imageRestaurant__note {
  position: absolute;
  top: 20px;
  right: 20px;
  display: inline-block;
  background-color: #99e2d0;
  color: #4d4d4d;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}
article h2 {
  font-size: small;
  color: black;
  line-height: 0.5em;
  position: relative;
  padding-left: 20px;
}
article h2 i {
  padding-left: 100px;
  position: absolute;
  right: 0;
  top: 0;
  padding-right: 10px;
}
article h2 .far {
  color: black;
}
article h2 .fas {
  opacity: 0;
  color: #FF79DA;
}
article h2 .far:hover {
  opacity: 0;
}
article h2 .fas:hover {
  opacity: 1;
}
article p {
  color: gray;
  font-size: smaller;
  line-height: 0;
  padding-left: 20px;
}

@media (min-width: 768px) {
  #Fonctionnement ol {
    list-style: none;
    counter-reset: li;
    padding: 2% 7%;
    display: flex;
    justify-content: space-around;
  }
  #Fonctionnement li {
    display: flex;
    align-items: center;
    box-shadow: 0px 3px 8px 3px gainsboro;
    border-radius: 16px;
    margin-bottom: 15px;
    font-size: 0.7em;
    height: 45px;
    background-color: #eaeaea;
    width: 30%;
  }
  #Fonctionnement li i {
    margin-right: 15px;
  }
  #Fonctionnement li::before {
    counter-increment: li;
    content: counter(li);
    background-color: #9356DC;
    border-radius: 50%;
    padding: 3px;
    margin-right: 20px;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }

  #restaurant {
    background-color: #eaeaea;
    padding-top: 30px;
    padding-bottom: 30px;
    align-items: center;
    text-align: center;
  }

  article {
    display: inline-block;
    width: 40%;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 15px;
    border: 1px solid rgba(255, 251, 251, 0.603);
    margin-bottom: 15px;
    background-color: white;
  }
  article a {
    text-decoration: none;
    border-radius: 15px;
  }
  article img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    height: 17vw;
  }
  article h2 {
    font-size: small;
    color: black;
    line-height: 0.5em;
    position: relative;
    padding-left: 20px;
  }
  article h2 i {
    padding-left: 100px;
    position: absolute;
    right: 0;
    top: 0;
    padding-right: 10px;
  }
  article h2 .far {
    color: black;
  }
  article h2 .fas {
    opacity: 0;
    color: #FF79DA;
  }
  article h2 .far:hover {
    opacity: 0;
  }
  article h2 .fas:hover {
    opacity: 1;
  }
  article p {
    color: gray;
    font-size: smaller;
    line-height: 0;
    padding-left: 20px;
  }
}

/*# sourceMappingURL=index.css.map */
