@import "../commun/commun.scss";
    h1{
        font-weight:710;
        font-size:1.2em;
        margin-left: 15px;
        margin-bottom: 12px;
        letter-spacing: -0.5px;
    }
.entete{ 
    &__image{
        height: auto;
        box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.5);
        margin-bottom: 5px;          
        img{         
            display:block;
            margin: auto;
            width: 40%;
            padding: 7px;
            height: 30px;     
        }; 
    }
    
    &__localisation{
        width: 100%;
        height: 35px;
        background-color:$header;  
        display: flex;
        justify-content:center;
        align-items: center;       
        i{
            padding-right:7px;         
        };     
    }
}
#choix{
    background-color:$body; 
    text-align: center;
    padding-top: 20px;
    padding-bottom: 3px;
    &__button{
        height: 42px;
        padding-left: 7%;
        padding-right: 7%;
        font-size: 0.8em;
        font-weight: 530;
    }    
    &__p{
        
        color:rgb(115,115,115);
    }
}

#Fonctionnement{   
    ol{
        list-style: none; 
        counter-reset: li;
        padding: 2% 7%;
    };
    li{
        display: flex;
        align-items: center;
        box-shadow: 0px 3px 8px 3px rgb(220, 220, 220); 
        // margin:auto 0px;
        border-radius: 16px;
        margin-bottom: 15px;
        font-size: 0.8em;
        font-weight: 580;
        // align-items: center;
        height: 45px;
        // padding-top: 3%;
        background-color:$body;     
        i{
            margin-right: 15px;
            color: rgb(110,110, 110);
        };
    };
    li:hover{
        background-color: rgb(245, 237,255);
        i{
            color:$Primaire;
        };
    }    
    li::before {
        counter-increment: li;
        content: counter(li); 
        background-color:$Primaire;
        color:white;
        text-align: center;
        border-radius: 50%;
        padding: 3px;
        margin-right: 20px;
        display: inline-block; width: 1em;
        margin-left: -1em;
    };
} 
#restaurant{
    background-color:$body; 
    padding-top:30px;
    padding-bottom: 30px;
}
article{
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 15px;
    border: 1px solid rgba(255, 251, 251, 0.603) ;
    margin-bottom: 15px;
    background-color: white;
    padding-bottom: 10px;
    a{
        text-decoration: none;
        border-radius: 15px;
    };
    .imageRestaurant{
        position: relative;
        img{
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            width: 100%;
            height: 30vw;              
        };
        &__note{
            position:absolute;
            top:20px;
            right:20px;
            display: inline-block;
            background-color: rgb(153,226,208);
            color:rgb(77,77,77);
            padding-left: 15px;
            padding-right: 15px;
            padding-top: 5px;
            padding-bottom: 5px;
            border-radius: 5px;
            font-size: 0.7em;
            font-weight: bolder;
            color:rgb(115,115,115)

        }
    }
   
    h2{
        font-size: medium;
        color: black;
        line-height:0.5em;
        position:relative;
        padding-left: 20px;
        i{ 
        font-size: large;          
        padding-left:120px;
        position: absolute;
        right:0;
        top:0;
        padding-right: 10px;       
        }
        // i:hover{opacity:1;}
        .far{
            color:black;
            // z-index: 1;

          
             }
        .fas{
             opacity: 0;
            // z-index: -1;
            color:$secondaire;
        }
       .far:hover{
           opacity: 0;
        }
        .fas:hover{
            opacity: 1;
            // z-index: 3;
        }
             
    }
    p{
        color: gray;
        font-size: medium;
        line-height:0 ;
        padding-left: 20px;
    };
}   

@media (min-width: 768px){
    #Fonctionnement{  
        ol{
            list-style: none; 
            counter-reset: li;
            padding: 2% 7%;
            display: flex;
            justify-content: space-around;
        };
        li{
            display: flex;
            align-items: center;
            box-shadow: 0px 3px 8px 3px rgb(220, 220, 220); 
            // margin:auto 0px;
            border-radius: 16px;
            margin-bottom: 15px;
            font-size: 0.8em;
            font-weight: 580;
            // align-items: center;
            height: 45px;
            // padding-top: 3%;
            background-color:$body;
            width: 30%;          
            i{
                margin-right: 15px;
                color: rgb(110,110, 110)
            };
        }
        li::before {
            counter-increment: li;
            content: counter(li); 
            background-color:$Primaire;
            border-radius: 50%;
            padding: 3px;
            margin-right: 20px;
            display: inline-block; width: 1em;
            margin-left: -1em;
        };
    } 
    #restaurant{
        background-color:$body; 
        padding-top:30px;
        padding-bottom: 30px;
        align-items: center;
        text-align: center;
    }
    article{
        display: inline-block;
        width: 40%;
        margin-left: 20px;
        margin-right: 20px;
        border-radius: 15px;
        border: 1px solid rgba(255, 251, 251, 0.603) ;
        margin-bottom: 15px;
        background-color: white; 
        padding-bottom: 10px;     
        a{
            text-decoration: none;
            border-radius: 15px;
        };
        img{
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            width: 100%;
            height: 17vw;
        }
        h2{
            font-size: medium;
            color: black;
            line-height:0.5em;
            position:relative;
            padding-left: 20px;
            i{  
                padding-left:110px;
                position: absolute;
                right:0;
                top:0;
                padding-right: 10px; 
                font-size: large;  
            }
            // i:hover{opacity:1;}
            .far{
                color:black;
                // z-index: 1;

            
                }
            .fas{
                opacity: 0;
                // z-index: -1;
                color:$secondaire;
            }
            .far:hover{
                opacity: 0;
            }
            .fas:hover{
                opacity: 1;
                // z-index: 3;
            }              
        }
        
        //    .fas:hover{
        //     //    z-index: 3;
        //     }  
        p{
            color: gray;
            font-size: smaller;
            line-height:0 ;
            padding-left: 20px;
            font-size: medium;
        };
}   


}
