@import "../layaout/variable.scss";
//////////////palette du gout///////////////////////////////////////////////////////////////

header{
    z-index: auto;
    nav{
        display:flex;
        flex-direction: row;
    // position:relative;
        a{
            justify-content: start;
            align-self:center; 
            margin-left: 7%;
            text-decoration: none;
        };
        >img{
        
            margin:auto;
            width: 30%;
            height: 50px;
        }
    }
    >img{
        width: 100%;
        height: 200px;
    }

    
    
    }
#menuR{
    padding: 1% 3%;
    background-color: rgb(246, 246, 246);
    border-radius: 20px;
    margin-bottom: 32px;
    z-index: 1;
    margin-top: -20px;
    h1{
        font-family: $titre;
        font-size: large;
        
        i{
            padding-left: 27px;
        }
    }
    &__entrée,&__Plats,&__Desserts{
        h2{
            border-bottom: 1px solid rgb(153, 226, 208);
            font-weight: lighter;
            color: rgb(92,92,92);
            font-size: medium;
            }
        article{
                font-size: small;
                background-color: white;
                border-radius: 22px;
                padding: 1% 4%;
                line-height: 7px;
                margin-bottom: 10px;
                h3{font-weight: bold;
                    

                }
                p{position: relative;
                    span{
                        position: absolute;
                        font-weight: bolder;
                        padding-left: 10%;
                        right: 0%;
                       }
               }
                

            // a poser des qustions sur la longueur de soulignement et racourcis visual code studio
         
        }

    }
}
