$Primaire:#9356DC;
$secondaire:#FF79DA;
$tertiaire:#FF79DA;
$header:rgb(234,234,234);
// $font:Roboto

@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

$font:'Roboto', sans-serif;
$titre:'Shrikhand', cursive;

body{
    margin: 0;
    padding: 0;
    font-family:$font;
    color:black;
}

button{
    border-radius: 50px;
    background: linear-gradient($secondaire,$Primaire);
//  height:45px;
    font-weight: bold;
    margin-left: auto;
    margin-bottom: 60px;
    margin-top: 30px;
    padding-left: 6%;
    padding-right: 6%;
    display: block;
    color:white;
    font-size: 0.6em;
    height: 30px;
    border: none;
    box-shadow: 0px 3px 8px 3px rgb(220, 220, 220); 
    margin-right: auto; 
}

footer{
    position: relative;
    z-index: 2;
    background-color: black;
    color: white;
    padding-top: 10px;
    padding-bottom: 30px;
    div{
        padding-left: 30px;
    };
    >p{
        font-family: $titre;
        padding-left: 30px;
    };
    i{
        padding-right: 15px;
    };
} 
.contact,a{
    text-decoration: none;
    color: white;
}